<div class="container">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

<h1>トピック一覧</h1>
<p id="notice"><%= notice %></p>
<%= link_to '新規作成', new_topic_path, class: "btn btn-default btn-lg" %>

<% @topics.each do |topic| %>
<div class="row">
  <table>
    <tr>
      <td><%= profile_img(topic.user) %>　</td>
      <td><h5><%= topic.user.name %></h5></td>
   </tr>
  </table>
 <table>
   <tr>
     <td><%= link_to topic_path(topic) do %><h6><%= topic.title %><% end %></h6></td>
   </tr>
   <tr>
     <td><h6><%= topic.content %></h6></td>
   </tr>
   <tr>
     <td>
     <% if topic.picture? %>
　　　<%= image_tag(topic.picture) %>
　　　<% end %>
     </td>
   </tr>
 </table>
 <br>
 <br>
   <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-warning btn-sm' %>
   <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？'}, class: 'btn btn-sm btn-danger' %>
   <% end %>
</div>
</div>
</div>
