<div class="container">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

<h1>トピック一覧</h1>
<p id="notice"><%= notice %></p>
<%= paginate @topics %>
<br>
<%= link_to '新規作成', new_topic_path, class: "btn btn-default btn-lg" %>

<div class="row">
 <% @topics.each do |topic| %>
  <table class="topic">
    <tr>
      <td><%= profile_img(topic.user) %>　<strong><%= topic.user.name %></strong>　　　<%= link_to topic_path(topic) do %><strong><%= topic.title %><% end %></td>
    </tr>
    <tr>
     <td><%= topic.content %></strong></td>
    </tr>
    <tr>
     <td><% if topic.picture? %><%= image_tag(topic.picture) %><% end %></td>
    </tr>
  </table>
    <br>
    <p style="text-align:center; margin: 0 auto;"><%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-warning btn-sm' %>　　
    <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？'}, class: 'btn btn-sm btn-danger' %>
    </p>
    <br>
    <br>

   <% end %>
 <br>
 <br>

</div>
 <%= paginate @topics %>
</div>
</div>
