<div class="container">
    <div class="wrapper col-md-10 col-sm-12">
      <%= paginate @users %>
        <table class="usersindex">
          <tr>
            <th>ユーザー一覧</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <% @users.each do |user| %>
          <% if user.id != current_user.id %>
          <tr>
            <td class="userimg", style="max-width: 40px; max-height: 40px;"><%= profile_img(user) %></td>
            <td class="username"><%= link_to user_path(user) do %><%= user.name %> (<%= user.email %>)<% end %></td>
            <td class="message"><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: 'btn btn-primary btn-sm' %></td>
            <td class="follow"><%= render partial: 'follow_form', locals: { user: user } if signed_in? %></td>
          </tr>
        <% end %>
        <% end %>
        </table>
      <%= paginate @users %>
      </div>
</div>
