<div class="child row">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="user_show">
      <table class="user_detail">
        <tr>
          <td class="user_detail_title"><strong>ユーザID</strong></td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td class="user_detail_title"><strong>氏名</strong></td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td class="user_detail_title"><strong>メールアドレス</strong></td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td class="user_detail_title"><strong>イメージ</strong></td>
          <td><%= profile_img(@user) %></td>
        </tr>
        <tr>
          <td class="user_detail_title"><strong>ユーザ作成時</strong></td>
          <td><%= @user.created_at %></td>
        </tr>
        <tr>
          <td class="user_detail_title"><strong>最終ログイン</strong></td>
          <td><%= @user.last_sign_in_at %></td>
        </tr>
      </table>
    </div>
    <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
    <p style="text-align:center;">フォロワー一覧</p>
      <div id="followers_area">
        <%= render partial: 'followers' %>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
    <p style="text-align:center;">フォロイー一覧</p>
      <div id="followed_area">
        <%= render partial: 'followed_users' %>
      </div>
    </div>
  </div>
  </div>
</div>
